<?php

$CONFIG = [
'instanceid' => '{{ nextcloud_config_instanceid }}',
'passwordsalt' => '{{ nextcloud_config_passwordsalt }}',
'trusted_domains' =>
 array (
 {% for domain in nextcloud_domains %}
   {{ loop.index0 }} => '{{ domain }}',
 {% endfor %}
  ),
'overwrite.cli.url' => 'https://{{ nextcloud_domains[0] }}',
'datadirectory' => '{{ nginx_www_root }}/{{ nextcloud_sitename }}/data',
'version' => '{{ nextcloud_config_version }}',
'dbtype' => 'pgsql',
'dbhost' => 'localhost',
'dbname' => '{{ nextcloud_db_name }}',
'dbuser' => '{{ nextcloud_db_user }}',
'dbpassword' => '{{ nextcloud_db_password }}',
'dbtableprefix' => 'oc_',
'installed' => true,

/** Mail settings
*/

'mail_domain' => '{{ nextcloud_mail_domain }}',
'mail_from_address' => 'nextcloud',

/**
 * User Experience
 *
 * These optional parameters control some aspects of the user interface. Default
 * values, where present, are shown.
 */
'default_language' => 'en',
'default_locale' => 'en_US',

'defaultapp' => 'dashboard,files',
'knowledgebaseenabled' => true,
'allow_user_to_change_display_name' => true,

'remember_login_cookie_lifetime' => 60*60*24*15,
'session_lifetime' => 60 * 60 * 24,
'session_keepalive' => true,
'auto_logout' => false,
'token_auth_enforced' => false,
'token_auth_activity_update' => 60,
'auth.bruteforce.protection.enabled' => true,
/**
 * Allow remote servers with local addresses e.g. in federated shares, webcal services and more
 *
 * Defaults to false
 */
'allow_local_remote_servers' => true,

/**
 * Deleted Items (trash bin)
 *
 * These parameters control the Deleted files app.
 */

'trashbin_retention_obligation' => 'auto',


/**
 * File versions
 *
 * These parameters control the Versions app.
 */

'versions_retention_obligation' => 'auto',

/**
 * Nextcloud Verifications
 *
 * Nextcloud performs several verification checks. There are two options,
 * ``true`` and ``false``.
 */

'appcodechecker' => true,
'updatechecker' => true,
'updater.server.url' => 'https://updates.nextcloud.com/updater_server/',
'updater.release.channel' => 'stable',
'has_internet_connection' => true,
'connectivity_check_domains' =>
  array (
    0 => 'www.nextcloud.com',
    1 => 'www.startpage.com',
    2 => 'www.eff.org',
    3 => 'www.edri.org',
  ),

'check_for_working_wellknown_setup' => true,

'check_data_directory_permissions' => true,
'config_is_read_only' => true,

/**
 * Logging
 */


'log_type' => 'syslog',
'loglevel' => 2,
'logfile' => '',
'syslog_tag' => 'Nextcloud',
'logdateformat' => 'F d, Y H:i:s',
'logtimezone' => 'Europe/Berlin',
'log_query' =>false,
/**
 * Apps
 *
 * Options for the Apps folder, Apps store, and App code checker.
 */

/**
 * When enabled, admins may install apps from the Nextcloud app store.
 *
 * Defaults to ``true``
 */
'appstoreenabled' => true,

/**
 * Previews
 *
 * Nextcloud supports previews of image files, the covers of MP3 files, and text
 * files. These options control enabling and disabling previews, and thumbnail
 * size.
 */

'enable_previews' => true,
'preview_max_x' => 4096,
'preview_max_y' => 4096,
'preview_max_filesize_image' => 50,
'preview_libreoffice_path' => '/usr/bin/libreoffice',
'preview_office_cl_parameters' =>
	' --headless --nologo --nofirststartwizard --invisible --norestore '.
	'--convert-to png --outdir ',
'enabledPreviewProviders' =>
  array (
    0 => 'OC\\Preview\\PNG',
    1 => 'OC\\Preview\\JPEG',
    2 => 'OC\\Preview\\GIF',
    3 => 'OC\\Preview\\HEIC',
    4 => 'OC\\Preview\\BMP',
    5 => 'OC\\Preview\\XBitmap',
    6 => 'OC\\Preview\\MP3',
    7 => 'OC\\Preview\\TXT',
    8 => 'OC\\Preview\\MarkDown',
    9 => 'OC\\Preview\\OpenDocument',
    10 => 'OC\\Preview\\Krita',
  ),

/**
 * Comments
 *
 * Global settings for the Comments infrastructure
 */

'comments.managerFactory' => '\OC\Comments\ManagerFactory',
'systemtags.managerFactory' => '\OC\SystemTag\ManagerFactory',

/**
 * Maintenance
 *
 * These options are for halting user activity when you are performing server
 * maintenance.
 */

'maintenance' => false,


/**
 * Secret used by Nextcloud for various purposes, e.g. to encrypt data. If you
 * lose this string there will be data corruption.
 */
'secret' => '{{ nextcloud_config_secret }}',


'memcache.distributed' => '\OC\Memcache\Redis',
'redis' => [
     'host' => 'localhost',
     'port' => {{ nextcloud_redis_port }},
],
'memcache.locking' => '\OC\Memcache\Redis',
'theme' => '',
];
